{% extends "base.html" %}
{% block content %}
<div class="alert alert-danger collapse" role="alert" id="Formula-alert">
</div>
<div class="row row-dfa justify-content-md-center" id="row-dfa">
    <form class="form-inline" method="post" action="dfa">
        <div class="form-group form-group-lg align-items-start">
            <div class="col-md-10">
                <label for="inputFormula" class="sr-only">Type an LTL<sub>f</sub> or a PLTL<sub>f</sub> formula...</label>
                <input type="text" class="form-control form-control-lg" id="inputFormula" name="inputFormula"
                       placeholder="Type an LTLf or a PLTLf formula..." required>
                <input type="checkbox" class="form-check-input" name="exampleCheck1" style="display: none">

                <label for="controllables" class="sr-only">Type the set of controllables symbols</label>
                <input type="text" class="form-control form-control-lg" id="controllables" name="controllables"
                       placeholder="Type the set of controllables symbols" required>
                <input type="checkbox" class="form-check-input" name="exampleCheck1" style="display: none">
                

                <label for="uncontrollables" class="sr-only">Type the set of uncontrollables symbols</label>
                <input type="text" class="form-control form-control-lg" id="uncontrollables" name="uncontrollables"
                       placeholder="Type the set of uncontrollables symbols" required>
                <input type="checkbox" class="form-check-input" name="exampleCheck1" style="display: none">
                

                <div class="sub">
                    <small><a href="ltlf_syntax">LTL<sub>f</sub> Syntax</a></small>
                    <a style="color:#802433">&middot;</a>
                    <small><a href="pltlf_syntax">PLTL<sub>f</sub> Syntax</a></small>
                    <a style="color:#802433">&middot;</a>
                    <small><a id="rand-example">Random Example</a></small>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" id="buttonFormula" class="btn btn-lg btn-light btn-custom">Convert</button>
            </div>
        </div>
    </form>
</div>

<hr/>
<div class="row d-flex justify-content-center">
  <div class="spinner-border" id="spinner" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="row d-flex justify-content-center" id="row-result">
</div>
{% endblock %}
